<div class="topics">
  <div class="topics__header">
      <h2 style="font-size: 40px;"><b>GUIDE</b></h2>
  </div>
<b><p>Create an Account & Sign In. <br /><br></p>
<p>HEAD OF GROUP Creates Room by Clicking "+ Create Room" Button  <br /><br></p>
<p>HEAD of GROUP Click "Add Availablilty" for Each Available Time<br /><br></p>
<p>ADDITIONAL MEMBERS Join a Group By Finding and Clicking the Correct Group Name <br /><br></p>
<p>ADDITIONAL MEMBERS Choose from Available List of Times & Click "Add Availablilty" for Each Available Time<br /><br></p>
<p>Available Time Entered is the Event's Starting Time  <br /><br></p>
<p>The "# of hours" Indicates Length of the Event<br /><br></p>
<p>Use the Messages to Help Communicate to Group Members <br /><br></p></b>


<!-- <p>Grouppo is a meeting planner website that facilitates group scheduling and decision-making. 
    We make it easy for you to schedule get-togethers with friends, family, or colleagues. 
    Input available dates, times, and places to meet, and our site will pick what works best for everyone. 
    Our goal is to simplify the process of scheduling and to make it more enjoyable for you. We understand 
    the hassle of organizing a meeting, and we want to help you make it a seamless experience. Our unique 
    feature allows a leader to invite other members of the group to participate in the scheduling process, 
    making it even easier to find a time and place that works for everyone.
     We are committed to making your life easier by taking the stress out of scheduling meetings. 
     Let us help you plan your next gathering!</p> -->

</div>